html 
{
    box-sizing: border-box;
    height: 100%;
}

body 
{
    background-color: #303030;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00A5D7;
    font-size: 1.25em;
}

li 
{
    float: left;
}

li a 
{
    display: block;
    color: #303030;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover 
{
    background-color: #11FFB8;
}

.column 
{
    float: left;
    width: 54%;
    padding: 1%;
    height: 100%;
    color: #00A5D7;
}

.column2
{
    float: left;
    width: 42%;
    padding: 1%;
    height: 100%;
    color: #00A5D7;
}

.columnhalf
{
    float: left;
    width: 48%;
    padding: 1%;
    color: #00A5D7;
    font-size: 1.25em;
    margin-top: 3%;
    line-height: 200%;
}
  
.row:after 
{
    content: "";
    display: table;
    clear: both;
}

.boldmint
{
    font-weight: bold;
    color: #11FFB8;
}

.mint 
{
    color: #11FFB8;
}

.white 
{
    color: white;
}

h1 
{
    font-weight: normal;
    font-size: 2.5em;
}

.desc 
{
    font-size: 1.25em;
}

.headshot
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 75%;
}

.plainurl
{
    color: #00A5D7;
}

.fauxbutton
{
    color: #00A5D7;
    padding: 2%;
    border-radius: 10px;
    border: 3px solid #00A5D7;
}

.fauxbutton:hover 
{
    background-color: #11FFB8;
    color: #303030;
}

.silh 
{
    position: absolute;
    bottom: 0px;
    left: 40%;
    max-width: 20%;
}

.grid-container 
{
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    padding: 10px;
    grid-auto-rows: 1fr;
}

.grid-container > div
{
    background-color: #a1e9ff;
    border: 1px solid #303030;
    border-radius: 15px;
    padding: 1%;
    text-align: center;
    margin-top: 2%;
    box-shadow: 5px 5px 10px grey inset;
}

.title
{
    color: #303030;
    font-size: 1.25em;
    font-weight: bold;
}

.info 
{
    color: #303030;
    text-align: left;
    padding: 2%;
    line-height: 150%;
}

.projectimage
{
    max-width: 100%;
}

.container 
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1.75em;
    margin: 3%;
    overflow: hidden;
}

.container div 
{
    aspect-ratio: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text 
{
    width: 100%;
    text-align: center;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    padding-top: 30%;
    height: 70%;
    cursor: pointer;
}

.text:hover 
{
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    transition: 1s ease-in-out;
    -webkit-transition: 1s;
}



/*.flip-card 
{
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    float: left;
    margin: 2%;
}

.flip-card-inner 
{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner 
{
    transform: rotateY(-540deg);
}

.flip-card-front, .flip-card-back 
{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 5%;
}

.flip-card-front 
{
    background-color: #00A5D7;
    color: black;
}

.flip-card-back 
{
    background-color: #2980b9;
    color: white;
    transform: rotateY(180deg);
}

.cards 
{
    padding: 2%;
}

.cardImage 
{
    width: 300px;
    height: 300px;
    border-radius: 5%;
}

.projectCards {
    display: inline;
    margin-bottom: 2%;
}

.projectCard {
    width: 300px;
    height: 500px;
    border-radius: 25px;
    background-color: white;
    margin: 3%;
    position: relative;
    float: left;
}

.projectCard .top {
    position: absolute;
    top: 10px;
    height: 50%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;

}

.projectCard .bottom {
    position: absolute;
    bottom: 10px;
    height: auto;
    width: 100%;
    padding: 2%;
} */


/* 
Media query for machines under 400px
*/
@media only screen and (max-width: 400px) {
    ul 
    {
        font-size: 0.5em;
    }

    h1 
    {
        font-size: 1.5em;
    }

    .desc 
    {
        font-size: 0.75em;
    }
}

/* 
Media query for machines under 530px
*/
@media only screen and (max-width: 530px) {
    .nameLink
    {
        visibility: hidden;
    }

    ul
    {
        font-size: 0.75em;
    }
}

/* 
Media query for machines under 950px
*/
@media only screen and (max-width: 950px) {
    body 
    {
        overflow: visible;
    }

    .column 
    {
        float: left;
        width: 98%;
        padding: 1%;
        height: 100%;
        color: #00A5D7;
    }

    .column2
    {
        float: left;
        width: 98%;
        padding: 1%;
        height: 100%;
        color: #00A5D7;
    }

    .headshot
    {
        visibility: hidden;
    }
}

/* 
Media query for desktops under 1050px
*/
@media only screen and (max-width: 1050px) {
    .headshot 
    {
        max-height: 50%;
    }
}

/* 
Media query for desktops over 1500px
*/
@media only screen and (min-width: 1500px) {
    .headshot
    {
        position: absolute;
        right: 0px;
        bottom: 0px;
        min-height: 70%;
    }

    h1 
    {
        font-size: 3.5em;
    }

    .desc 
    {
        font-size: 2em;
    }

    ul 
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #00A5D7;
        font-size: 2em;
    }

    li a 
    {
        display: block;
        color: #303030;
        text-align: center;
        padding: 20px 32px;
        text-decoration: none;
    }
}